html, body {
    margin: 0;
    height: 100%;
    width: 100%
}

body {
    padding-top: 50px;
    position: relative;
    background-color: lightgrey;
    height: 130%;
}
table {
     height: 500px;
}

th, td {
    width: 100%;
}
tr {
    width: 100%;
}
tbody, thead tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

thead {
    display: block;
    position: sticky;
    top: 0;
    background-color: #f6f6f6;
}

* {
    box-sizing: border-box;
    border-collapse: collapse;
}
.assortment {

    height: 500px;

}
#productList {
    overflow-y: scroll;
    background-color: #f6f6f6;
    height: 100%;
    margin-bottom: -250px;
}

.dropbtn {
    background-color: #841717;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 250px;
}

    .dropbtn:hover {
        background-color: #9b1818;
    }

#myInput {
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
}


.dropdown {
    position: relative;
    max-height: 500px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    max-width: 250px;
    text-align: left;
    overflow: hidden;
    z-index: 1;
    height: 448px;

}
.containerColor{
    background-color: white;
    padding-bottom:15px;
}

.backgroundColor {
     background-color: #e0e0e0;
}

.padd{
    padding-right: 15px;
}
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

.dropdown a:hover {
    background-color: #ddd;
    text-decoration: none;
    color: #841717;
}

#productList{
    display:none;
}


.show {
    display: block;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
    height: 150%;
    background-color: white;
}

.container {
    padding-left: 0;
    padding-right: 0;
}

.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

.carousel-inner .item img[src$=".svg"] {
    width: 100%;
    text-align: center;
}

.carousel-inner {
    background-color: darkgreen;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/* Footer */
footer {
    color: white;
    background-color: #222222;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    height: 50px;
    line-height: 50px;
    z-index:1;
}
