html, body {
    margin: 0;
    height: 100%;
    width: 100%
}

body {
    padding-top: 50px;
    position: relative;
    text-align: center;
    background-color: lightgrey;
    height: 150%;
    
}
.btn-primary{
    background-color: green;
}

.btn-primary:hover {
    background-color: darkgreen;
    border-color: none;
}

#collapseExample {

}
.dropbtn {
    background-color: green;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align:left;
    }

        .dropdown-content a:hover {
            background-color: #f1f1f1
        }

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: darkgreen;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    height: 150%;
    background-color: white;
    

    
}

.container {
    padding-left: 0;
    padding-right: 0;
}


/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
    text-align: center;

}
.carousel-inner {

    background-color: #dbdde0;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/* Footer */
footer {
    color: white;
    background-color: #222222;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    height: 50px;
    line-height: 50px;
}

