@model IEnumerable<alpha.mvc.Models.Product>

@{
    ViewBag.Title = "Butik";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul>
    @foreach (var p in Model)
    {
        <li>{@p.Id} - @p.Title - @p.Type - @p.Price :-</li>
    }
</ul>