@model IEnumerable<alpha.mvc.Models.Product>

@{
    ViewBag.Title = "Butik";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul>
    @foreach (Product p in Model)
    {
        <li>@p.Title</li>
    }
</ul>

