
@{
    ViewData["Title"] = "Store";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<ul>
    <li>Capitel de'Roari</li>
    <li>Delitia</li>
    <li>Domaine du Grand Montmirail</li>
    <li>Moncaro Sangiovese</li>
    <li>Senda de las Rochas</li>
</ul>
