@model IEnumerable<alpha.web.Models.Product>

@{
    ViewData["Title"] = "Butik";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<ul>
    @foreach (Product p in Model)
    {
        <li>@p.Title</li>
    }
</ul>
